#cont{
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
 margin-left: auto;
  margin-right: auto;
  display: flow-root;
  padding-left: 3px;
  text-align: left;




}
#cont:hover{

 background: rgba(0, 0, 0, 0.2);
}

.btnCerrar{
 width: 20px;
 height: 20px;
 background: blue;
 position: absolute;
 top: 5;
 right: 5;
 cursor: pointer;
}

.divText{

width: 80%;
position: relative;
text-align: left;
padding-left: 5px;
overflow: auto;
height: 80%;
}
.txtDescripcion{
  position: absolute!important;
  width: 255px!important;
  height: 120px;
  background: rgba(0, 0, 0, 0.9)!important;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;

}

.card-img-overlay{
  padding-top: 5.25rem!important;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.card{
  display: table!important;
  max-width: 300px;
  min-width: 100px;

}

.col-sm-2{
  margin: 20px!important;
  min-width: 300px!important;

}

.card-text{
  display: inline;
}

.btn{
  display: inline!important;
  float: right;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
  margin-left: 3px;
  margin-right: 3px;
}
